body{
     background: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}


.Question {
    width: 80%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.Q {
    background: rgb(39, 36, 36);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: background 0.3s ease;
    display: flex;               
    justify-content: space-between; 
    align-items: center;          
}

.Q:hover {
    background: #333;
}

.answer {
    background: white;           
  color: black;               
  border: 2px solid #ccc;     
  border-radius: 4px;         
  padding: 10px;
  display: none;
  width: calc(100% - 2px);     
  box-sizing: border-box;      
  margin: auto;      
}

.answer.show {
  display: block;
    max-height: 200px;
}